.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.headerImage {
  width: 50px;
  height: 50px;
}

.buttonContainer {
  margin-bottom: 15px;
}

.loginButton {
  display: table;
  margin: 0 auto;
}

#welcomeUser {
  font-size: 1.7em;
}

.randomButton {
  margin-right: 5px;
}

.is-16by9 {
  margin-bottom: 25px;
}

form.error {
  color: #ff0000;
}

.login-box-css{
  padding-left: 25px;
}

@media screen and (min-width: 768px) {
  .searchBarDiv {
    width: 200px;
  }
  .screenSizeSearch {
    flex-grow: 11;
  }
}

@media screen and (max-width: 768px) {
  .childButtonContainer {
      justify-content: center;
  }
}
